<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Equity Explorer</title>
    <!-- Plotly CDN -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <h1>365 days of {{ symbol | safe }}</h1>

    <form id="stockForm" method="post">
      <label for="symbol">Enter Stock Symbol:</label>
      <input type="text" id="symbol" name="symbol" placeholder="{{ symbol }}" />
      <button type="submit">Submit</button>
    </form>

    <!-- Button to pick a random ticker -->
    <button onclick="generateRandomTicker()">Generate Random</button>

    <!-- Display Error Message if exists -->
    {% if error_message %}
    <div class="error-message">{{ error_message }}</div>
    {% endif %}

    <!-- Display Plotly Chart -->
    <div class="plotly-chart">{{ plot_html | safe }}</div>

    <!-- CSS Styles -->
    <style>
      body {
        text-align: center;
        padding-top: 20px;
      }

      form {
        display: inline-block;
        text-align: left;
      }

      .error-message {
        color: red;
        text-align: center;
        padding-top: 10px; /* Adjust the padding as needed */
      }

      .plotly-chart {
        height: 100%;
      }
    </style>

    <!-- JavaScript to handle random ticker selection -->
    <script type=text/javascript>
      // Function to pick a random ticker from the list
      function generateRandomTicker() {
          var tickers = {{ tickers | tojson }};
          var randomIndex = Math.floor(Math.random() * tickers.length);
          var randomTicker = tickers[randomIndex];
          document.getElementById('symbol').value = randomTicker;
          document.getElementById('stockForm').submit(); // Submit the form
      }
    </script>
  </body>
</html>
